.OODCoreComponentButton {
    border: solid 1px;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}

.OODCoreComponentButtonSeamless {
    border: none;
    background: none;
    text-align: center;
}