.account-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.account-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.account-input {
    margin-bottom: 10px;
    width: 300px;
}